
        /* Navbar Section */

        .menu-link {
            font-family: 'Raleway';
        }

        /* Welcome Section */

        #welcome-section {
            position: relative;
            height: 100vh;
        }

        #welcome-section h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-family: 'Libre Baskerville', serif;
            color: white;
            font-size: 8.0vw;
            line-height: 1.2;
            text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        }

        #welcome-section p {
            position: absolute;
            top: calc(64% + 10vw);
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-family: 'Raleway', serif;
            color: white;
            font-size: 1.5vw;
            white-space: nowrap;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }

        #welcome-section .grid {
            grid-template-rows: 100vh 50vh;
        }

        #bg-left {
            background-color: #ccb29b;
        }

        #slideshow {
            background-image: url('/assets/main.jpg');
            display: grid;
            grid-template-rows: 100vh 50vh;
        }


        .bg-image {
            background-size: cover;
            background-position: center;
            transition: background-image 1s ease-in-out;
        }

        /* About Section */

        #about-section {
            position: relative;
            height: 100vh;
            margin-top: 8.3rem;
            margin-bottom: 2rem;
        }

        #about-section .grid {
            grid-template-rows: 100vh 50vh;
        }

        #about-section h1 {
            font-family: 'Libre Baskerville';
            font-style: italic;
            margin-left: 10vw; 
            font-size: 1.3vw;
            color: #A28167;
        }

        #about-section h2 {
            font-family: Raleway;
            margin-left: 10vw;
            font-size: 4.0vw;
        }

        #about-section p {
            font-family: Raleway;
            margin-right: 10vw;
            font-size: 1.2vw;
        }

        /* Dermatologists and Owner Section */

        #derm-section {
            position: relative;
            height: 128vh;
            margin-top: 8rem;
            margin-bottom: 5rem;
        }

        #derm-section h1 {
            font-family: 'Libre Baskerville';
            font-style: italic;
            text-align: center;
            font-size: 1.5vw;
            color: #A28167;
        }

        #derm-section h2 {
            font-family: Raleway;
            font-size: 4.0vw;
            text-align: center;
        }

        #derm-content {
            grid-template-rows: 40vh 40vh;
        }

        #derm-content h1 {
            font-family: Raleway;
            font-size: 1.3vw;
            font-weight: 600;
            text-align: center;
        }

        #derm-content h2 {
            font-family: Raleway;
            font-size: 1.1vw;
            font-weight: 400;
            text-align: center;
            font-style: italic;
            color: #A28167;
        }

        #derm-content h3 {
            font-family: Raleway;
            font-size: 1.1vw;
            font-weight: 600;
            text-align: center;
            margin-top: 3vh;
        }

        #derm-content h4 {
            font-family: Raleway;
            font-size: 1.1vw;
            font-weight: 500;
            text-align: center;
        }

        .image-container {
            display: flex;
            justify-content: center; 
            align-items: center; 
            width: 100%; 
            height: 400px; 
            overflow: hidden;
        }

        .image-container img {
            max-width: 100%; 
            max-height: 100%; 
        }

        /* Services Section */

        #services-section {
            position: relative;
            height: 133vh;
            margin-top: 8rem;
            margin-bottom: 6rem;
        }

        #services-grid {
            grid-template-rows: 100vh 50vh;
        }

        #services-heading {
            width: 85vh;
        }

        .services-title {
            font-family: 'Libre Baskerville';
            font-style: italic;
            margin-left: 15vb;
            font-size: 1.3vw;
            color: #A28167;
        }

        .services-subtitle {
            font-family: Raleway;
            margin-left: 15vb;
            font-size: 4.0vw;
            line-height: 1.0;
            margin-top: 2vh;
        }

        #services-content {
            margin-right: 15vb;
        }

        .service-item {
            border: #A28167;
            border-style: solid;
            border-width: thin;
            height: 53vh;
            width: 40vh;
        }

        #service-item-margin-top {
            margin-top: 5vb;
        }

        .service-item-text {
            align-items: center;
            justify-content: center;
        }

        .service-item-title {
            font-family: 'Libre Baskerville';
            font-style: italic;
            text-align: center;
            font-size: 1.3vw;
            color: #A28167;
            margin-top: 2vb;
        }

        .more-button {
            font-family: 'Raleway';
            border: black;
            border-style: solid;
            border-width: thin;
            margin-top: 5vh;
            height: 6vh;
            width: 9vw;
            font-size: 1.0vw;
            color: black;
        }

        /* Reviews Section */

        #review-bar {
            background-color: #A28167;
            height: 12vh;
            display: flex;
            align-items: center;
            z-index: 500;
        }

        .review-link {
            text-decoration: none;
            color: white;
            font-family: 'Raleway';
            font-size: 2vw;
            margin-left: 5vw;
            padding: 0.5em;
        }

        .review-grid {
            grid-template-rows: 75vh;
            grid-template-columns: 40% 60%;
        }

        .left-column {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .review-image {
            height: 60vh;
        }

        .right-column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .stars-image {
            height: 6vh;
            margin-bottom: 2vh;
        }

        .review-text {
            font-family: 'Raleway';
            font-size: 2.5vw;
            padding-right: 6vw;
        }

        .customer-name {
            font-family: 'Libre Baskerville';
            font-style: italic;
            color: #A28167;
        }

        .review-grid-alt {
            grid-template-rows: 75vh;
            grid-template-columns: 60% 40%;
        }

        .left-column-alt {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 10vw;
        }

        /* Gallery Section */

        #gallery-section h1 {
            font-family: 'Libre Baskerville';
            font-style: italic;
            color: #A28167;
            text-align: center;
            margin-top: 6vw;
        }

        #gallery-section h2 {
            font-family: 'Raleway';
            font-size: 2.5vw;
            text-align: center;
        }

        #gallery-section .grid {
            padding-left: 8vw;
            padding-right: 8vw;
            margin-top: 5vw;
            margin-bottom: 8vw;
        }

        #gallery-section .grid > div {
            position: relative;
            height: 35vh;
        }

        #gallery-section img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }