#first-section {
    height: 100vh; /* Set a height for the first section */
    position: relative;
}
#first-section h1,
#first-section p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
}
#first-section h1 {
    font-size: 8.6vw;
    white-space: nowrap;
}
#first-section p {
    top: calc(50% + 10vw); /* Adjust the top position */
    font-family: 'Raleway', serif;
    font-size: 1.6vw;
    white-space: nowrap;
}
.grid-cols-2 {
    height: 100%;
}
.bg-blue-700 {
    background-color: blue;
}
.bg-image {
    background-size: cover;
    background-position: center;
}